*,
html {
  margin: 0;
  padding: 0;
  border: 0;
}

html,
body {
  height: 100%;
  -webkit-font-smoothing: antialiased;
}

body {
  background: #ddd url(../img/body-bg.png);
  font-family: 'proxima-nova', sans-serif;
}

body:before {
  float: left;
  height: 100%;
  width: 0;
  margin-top: -32767px;
  content: "";
}

::-moz-selection,
::selection {
  background: #333;
  color: #fff;
}

.site-container {
  width: 100%;
  min-height: 100%;
}

.main-content {
  overflow: auto;
  padding-bottom: 35px;
}


/* Site Header */

.site-header {
  z-index: 1000;
  position: absolute;
  top: 50%;
  left: 0;
  width: 33%;
  height: 210px;
  margin: -122px 3% 75px 2%;  /* Minus half height of div + half height of footer */
}

.site-header h1 {
  margin-bottom: 10px;
  font-family: "museo-slab", Rockwell, sans-serif;
  font-size: 72px;
  font-weight: normal;
  line-height: 62px;
  text-shadow: 0 1px 0 rgba(255,255,255,0.75);
  
  -webkit-mask-image: url(../img/footer-bg.png);
     -moz-mask-image: url(../img/footer-bg.png);
       -o-mask-image: url(../img/footer-bg.png);
          mask-image: url(../img/footer-bg.png);
}

.site-header p {
  font-size: 16px;
  color: #666;
  text-shadow: 0 1px 0 rgba(255,255,255,0.5);
}

.social-sharing {
	display: none;
	margin-top: 20px;
}

.share-button {
	float: left;
	padding: 5px 0;
	min-width: 100px;
}

.twitter-share-button {
	width: 100px !important;
}


/* Drink Container */

.drink-container {
  z-index: 750;
  position: absolute;
  top: 50%;
  width: 100%;
  margin-top: -280px;
}

#drink-type {
	overflow: hidden;
}

.tasty-beverage {
	-webkit-transition: height 2.5s ease-in-out;
       -moz-transition: height 2.5s ease-in-out;
        -ms-transition: height 2.5s ease-in-out;
         -o-transition: height 2.5s ease-in-out;
            transition: height 2.5s ease-in-out;
}


/* Countdown Timer */

.countdown-timer {
  z-index: 1000;
  position: absolute;
  top: 50%;
  right: 0;
  width: 100%;
  width: 33%;
  height: 82px;
  margin: -56px 0 75px 3%;
}

.countdown-timer h2 {
  height: 0;
  text-indent: -9999px;
  direction: ltr;
}

.countdown-container {
  height: 100%;
}

.countdown-segment {
  position: relative;
  float: left;
  width: 23%;
  height: 100%;
  margin-right: 2%;
}

.countdown-days {
  width: 11.5%;
}

.countdown-days .digit {
  width: 98%;
}

.countdown-label {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #666;
  font-size: 16px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255,255,255,0.5);
}

.digit,
.beer-oclock-notification {
  float: left;
  width: 48%;
  height: 40px;
  padding: 10px 0;
  margin-right: 2%;
  background: #333 url(../img/footer-bg.png);
  color: #fff;
  font-family: "museo-slab", Rockwell, sans-serif;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  text-shadow: 0 2px 0 rgba(0,0,0,0.5);
  
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

/* It's Beer O'clock! */

.beer-oclock-notification {
  width: 100%;
  height: auto;
  background: #900;
  text-transform: uppercase;
  position: absolute;
  right: 2%;
  display: none;
  
  -webkit-animation: alertflash 2s infinite;
     -moz-animation: alertflash 2s infinite;
      -ms-animation: alertflash 2s infinite;
          animation: alertflash 2s infinite;
}


/* Site Footer */

.site-footer {
  z-index: 2000;
  clear: both;
  position: relative;
  height: 15px;
  padding: 10px;
  margin-top: -35px;
  background: #333 url(../img/footer-bg.png);
  font-size: 13px;
  text-shadow: 0 1px 0 rgba(0,0,0,0.25);
}

.site-footer,
.site-footer a {
  color: #fff;
  
  -webkit-transition: color 0.2s ease-in-out;
     -moz-transition: color 0.2s ease-in-out;
      -ms-transition: color 0.2s ease-in-out;
       -o-transition: color 0.2s ease-in-out;
          transition: color 0.2s ease-in-out;
}

.site-footer a {
  font-weight: bold;
}

.site-footer a:hover {
	color: #fc0;
}

.site-credits {
  float: left;
  font-size: inherit;
}
    
.site-options {
  float: right;
  text-align: right;
}

.site-customise {
	margin-left: 10px;
}


/* Settings Panel */

.settings-panel {
	display: none;
	z-index: 2500;
	position: absolute;
	bottom: 0;
	width: 100%;
	background: #222;
	background: rgba(0,0,0,0.8);
	color: #fff;
	text-shadow: 0 1px 0 #000;
}

.settings-inner {
	padding: 30px 0;
	overflow: hidden; /* Clearfix */
}

.settings-options {
	position: absolute;
	top: 20px;
	right: 4%;
}

.settings-panel h2 {
	padding: 0 4%;
	margin-bottom: 5px;
	color: #fc0;
	font-family: "museo-slab", Rockwell, sans-serif;
}

.settings-segment {
	float: left;
	width: 25%;
	padding: 10px 4%;
}

.settings-segment h3 {
	margin-bottom: 10px;
}

.settings-panel .checkbox {
	float: left;
	margin: 5px 20px 5px 0;
}

.drink-options {
	position: relative;
}

.drink-options select {
	width: 100% !important;
	height: 100% !important;
}

.time-selector .select-box select {
	float: left;
	width: auto;
}

.hour-options:after {
	float: left;
	content: " :";
	margin: 5px;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
}

.settings-cancel {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

/* Select Styling */

.customSelect {
	width: 100%;
	background:#eee url(../img/select-arrow.png) no-repeat center right;
	padding: 5px 0;
	border: 1px solid #fff;
	color: #333;
	
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	
	text-shadow: none;
}
.customSelectInner {
	width: 100% !important;
	padding: 0 10px;
}


/* UK Pint Styles */
      
.uk-pint {
  position: relative;
  width: 255px;
  height: 500px;
  margin: 10px auto;
}

.uk-pint .drink-glass {
  z-index: 600;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: 255px;
  max-height: 500px;
  
  background: url(../img/glasses/pint-overlay.png) no-repeat center bottom;
  background-size: 100%;
}

.uk-pint .glass-overlay {
  display: block;
  width: 37px;
  height: 52px;
  margin: 0 auto 0 auto;
  padding-top: 75px;
  background: url(../img/pint-stamp.png) no-repeat center bottom;
  background-size: 100%;
}

.uk-pint .tasty-beverage {
  z-index: 200;
  position: absolute;
  bottom: 0;
  width: 100%;
  max-height: 495px;
  
  -webkit-border-radius: 149px / 20px;
     -moz-border-radius: 149px / 20px;
          border-radius: 149px / 20px;
}

.uk-pint .beverage-head {
  z-index: 400;
  position: absolute;
  top: -1px;
  width: 100%;
  height: 12.5%;
  
  -webkit-border-radius: 149px / 20px;
     -moz-border-radius: 149px / 20px;
          border-radius: 149px / 20px;
}


/* Clear Bottle Styles */
      
.beer-bottle {
  position: relative;
  width: 138px;
  height: 500px;
  margin: 10px auto;
}

.beer-bottle .drink-glass {
  z-index: 600;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: 138px;
  max-height: 500px;
  
  background: url(../img/glasses/bottle-overlay.png) no-repeat center bottom;
  background-size: 100%;
}

.beer-bottle .glass-overlay {
  display: none;
}

.beer-bottle .tasty-beverage {
  z-index: 200;
  position: absolute;
  bottom: 0;
  width: 100%;
  max-height: 486px;
}

.beer-bottle .beverage-head {
  display: none;
}

.alcopop-bottle .drink-glass {
	background: url(../img/glasses/alcopop-overlay.png) no-repeat center bottom;
}


/* HiBall Styles */
      
.hiball {
  position: relative;
  width: 228px;
  height: 500px;
  margin: 10px auto;
}

.hiball .drink-glass {
  z-index: 600;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: 228px;
  max-height: 500px;
  background: url(../img/glasses/hiball-overlay.png) no-repeat center bottom;
  background-size: 100%;
}

.hiball .glass-overlay {
  display: none;
}

.hiball .tasty-beverage {
  z-index: 200;
  position: absolute;
  bottom: 0;
  width: 100%;
  max-height: 485px;
}

.hiball .beverage-head {
  display: none;
}


/* Different Drinks */
      
/* Lager */
.drink-lager .tasty-beverage {
  background: #c48135;
  background: -moz-linear-gradient(left,  #c48135 0%, #c69b45 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#c48135), color-stop(100%,#c69b45));
  background: -webkit-linear-gradient(left,  #c48135 0%,#c69b45 100%);
  background: -o-linear-gradient(left,  #c48135 0%,#c69b45 100%);
  background: -ms-linear-gradient(left,  #c48135 0%,#c69b45 100%);
  background: linear-gradient(to right,  #c48135 0%,#c69b45 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c48135', endColorstr='#c69b45',GradientType=1 );
}

.drink-lager .beverage-head {
  background: #f2f2f2;
}

/* Light Lager */
.drink-lager-light .tasty-beverage {
	background: #ebbe32;
}

.drink-lager-light .bubble {
	border-color: rgba(255,255,255,0.25);
	background: rgba(255,255,255,0.15);
}

/* Ale */
.drink-ale .tasty-beverage {
  background: #71200b;
  background: -moz-linear-gradient(left,  #71200b 0%, #77380b 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#71200b), color-stop(100%,#77380b));
  background: -webkit-linear-gradient(left,  #71200b 0%,#77380b 100%);
  background: -o-linear-gradient(left,  #71200b 0%,#77380b 100%);
  background: -ms-linear-gradient(left,  #71200b 0%,#77380b 100%);
  background: linear-gradient(to right,  #71200b 0%,#77380b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#71200b', endColorstr='#77380b',GradientType=1 );
}

.drink-ale .beverage-head {
  height: 5%;
  background: #f3ebe1;
}

/* Guinness */
.drink-stout .tasty-beverage {
  background: #605a4f;
  background: -moz-linear-gradient(top,  #605a4f 0%, #231905 33%, #231905 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#605a4f), color-stop(33%,#231905), color-stop(100%,#231905));
  background: -webkit-linear-gradient(top,  #605a4f 0%,#231905 33%,#231905 100%);
  background: -o-linear-gradient(top,  #605a4f 0%,#231905 33%,#231905 100%);
  background: -ms-linear-gradient(top,  #605a4f 0%,#231905 33%,#231905 100%);
  background: linear-gradient(to bottom,  #605a4f 0%,#231905 33%,#231905 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#605a4f', endColorstr='#231905',GradientType=0 );
}

.drink-stout .beverage-head {
  background: #eee3da;
}

/* Gin & Tonic */

.drink-gintonic .tasty-beverage {
	background: #e9eff5;
}

.drink-gintonic .bubble {
	border-color: rgba(0,0,0,0.15);
	background: rgba(0,0,0,0.05);
}

/* Cola */

.drink-cola .tasty-beverage {
	background: #180802;
}

/* Ice & Lime */
.drink-gintonic .beverage-head,
.drink-cola .beverage-head {
	z-index: 250;
	display: block;
	position: absolute;
	top: -32px;
	width: 227px;
	height: 163px;
	background: url(../img/ice-lime.png);
	
	-webkit-animation: icefloat 3s infinite ease-in-out;
       -moz-animation: icefloat 3s infinite ease-in-out;
        -ms-animation: icefloat 3s infinite ease-in-out;
            animation: icefloat 3s infinite ease-in-out;
	
}

.drink-gintonic .beverage-head {
	opacity: 0.75;
}

.drink-cola .beverage-head {
	opacity: 0.2;
}

/* Light Lager */
.drink-blue-alcopop .tasty-beverage {
	background: #389eed;
}

.drink-blue-alcopop .bubble {
	border-color: rgba(255,255,255,0.25);
	background: rgba(255,255,255,0.15);
}


/* Bubbles */

.bubbles {
  overflow: hidden;
  position: relative;
  width: 90%;
  height: 100%;
  margin: 0 auto;
}

.bubble-container {
  opacity: 0;
  position: absolute;
  bottom: 10px;
  
  -webkit-animation: bubblerise 4s infinite ease-in;
     -moz-animation: bubblerise 4s infinite ease-in;
      -ms-animation: bubblerise 4s infinite ease-in;
          animation: bubblerise 4s infinite ease-in;
}

.bubble-container:active .bubble {
	border-color: rgba(255,255,255,0.25);
	background: rgba(255,255,255,0.15);
}

.bubble {
  z-index: 250;
  width: 4px;
  height: 4px;
  margin: 0 auto;
  border: 1px solid rgba(255,255,255,0.15);
  background: rgba(255,255,255,0.05);
  
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
  
  -webkit-animation: bubblewobble 0.4s infinite linear;
     -moz-animation: bubblewobble 0.4s infinite linear;
      -ms-animation: bubblewobble 0.4s infinite linear;
          animation: bubblewobble 0.4s infinite linear;
}
      

/*
Animation Stuff
*/

/* Bubble Animations */

@-webkit-keyframes bubblerise {
  0% {
    opacity: 0;
    bottom: 20px;
  }
  5% {
    opacity: 1;
    bottom: 20px;
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    bottom: 100%;
  }
}
@-moz-keyframes bubblerise {
  0% {
    opacity: 0;
    bottom: 20px;
  }
  5% {
    opacity: 1;
    bottom: 20px;
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    bottom: 100%;
  }
}
@-ms-keyframes bubblerise {
  0% {
    opacity: 0;
    bottom: 20px;
  }
  5% {
    opacity: 1;
    bottom: 20px;
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    bottom: 100%;
  }
}
@keyframes bubblerise {
  0% {
    opacity: 0;
    bottom: 20px;
  }
  5% {
    opacity: 1;
    bottom: 20px;
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    bottom: 100%;
  }
}

@-webkit-keyframes bubblewobble {
  0% {
    margin-left: 0;
  }
  50% {
    margin-left: 2px;
  }
}
@-moz-keyframes bubblewobble {
  0% {
    margin-left: 0;
  }
  50% {
    margin-left: 2px;
  }
}
@-ms-keyframes bubblewobble {
  0% {
    margin-left: 0;
  }
  50% {
    margin-left: 2px;
  }
}
@keyframes bubblewobble {
  0% {
    margin-left: 0;
  }
  50% {
    margin-left: 2px;
  }
}


/* Floating Ice */

@-webkit-keyframes icefloat {
  0% {
    margin-top: 0;
  }
  50% {
    margin-top: 3px;
  }
}
@-moz-keyframes icefloat {
  0% {
    margin-top: 0;
  }
  50% {
    margin-top: 3px;
  }
}
@-ms-keyframes icefloat {
  0% {
    margin-top: 0;
  }
  50% {
    margin-top: 3px;
  }
}
@keyframes icefloat {
  0% {
    margin-top: 0;
  }
  50% {
    margin-top: 3px;
  }
}


/* Beer O'Clock Alert */

@-webkit-keyframes alertflash {
  0% {
    background: #900;
    color: #fff;
    text-shadow: 0 2px 0 rgba(0, 0, 0, .5);
  }
  20% {
    background: #900;
    color: #fff;
    text-shadow: 0 2px 0 rgba(0, 0, 0, .5);
  }
  45% {
    background: transparent;
    color: #900;
    text-shadow: 0 2px 0 rgba(255, 255, 255, .5);
  }
  55% {
    background: transparent;
    color: #900;
    text-shadow: 0 2px 0 rgba(255, 255, 255, .5);
  }
  80% {
    background: #900;
    color: #fff;
    text-shadow: 0 2px 0 rgba(0, 0, 0, .5);
  }
}
@-moz-keyframes alertflash {
  0% {
    background: #900;
    color: #fff;
    text-shadow: 0 2px 0 rgba(0, 0, 0, .5);
  }
  20% {
    background: #900;
    color: #fff;
    text-shadow: 0 2px 0 rgba(0, 0, 0, .5);
  }
  45% {
    background: transparent;
    color: #900;
    text-shadow: 0 2px 0 rgba(255, 255, 255, 0.5);
  }
  55% {
    background: transparent;
    color: #900;
    text-shadow: 0 2px 0 rgba(255, 255, 255, .5);
  }
  80% {
    background: #900;
    color: #fff;
    text-shadow: 0 2px 0 rgba(0, 0, 0, .5);
  }
}
@-ms-keyframes alertflash {
  0% {
    background: #900;
    color: #fff;
    text-shadow: 0 2px 0 rgba(0, 0, 0, .5);
  }
  20% {
    background: #900;
    color: #fff;
    text-shadow: 0 2px 0 rgba(0, 0, 0, .5);
  }
  45% {
    background: transparent;
    color: #900;
    text-shadow: 0 2px 0 rgba(255, 255, 255, .5);
  }
  55% {
    background: transparent;
    color: #900;
    text-shadow: 0 2px 0 rgba(255, 255, 255, .5);
  }
  80% {
    background: #900;
    color: #fff;
    text-shadow: 0 2px 0 rgba(0, 0, 0, .5);
  }
}
@keyframes alertflash {
  0% {
    background: #900;
    color: #fff;
    text-shadow: 0 2px 0 rgba(0, 0, 0, .5);
  }
  20% {
    background: #900;
    color: #fff;
    text-shadow: 0 2px 0 rgba(0, 0, 0, .5);
  }
  45% {
    background: transparent;
    color: #900;
    text-shadow: 0 2px 0 rgba(255, 255, 255, .5);
  }
  55% {
    background: transparent;
    color: #900;
    text-shadow: 0 2px 0 rgba(255, 255, 255, .5);
  }
  80% {
    background: #900;
    color: #fff;
    text-shadow: 0 2px 0 rgba(0, 0, 0, .5);
  }
}