/* 
 * Beer O'Clock
 * @jamesrwhite
 * @benhodgson
 *
 * Glass + Drink Styles
 */


// Include Base Config + Compass Modules

@import "_base";
@import "compass/css3";


//
// GLASS STYLES
//

// UK Pint Glass
	 
.uk-pint {
	position: relative;
	width: 255px;
	height: 500px;
	margin: 10px auto;
 
	.drink-glass {
		z-index: 600;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		max-width: 255px;
		max-height: 500px;
		
		background: url('#{$layout-path}/glasses/pint-overlay.png') no-repeat center bottom;
		background-size: 100%;
	}
	
	.glass-overlay {
		display: block;
		width: 37px;
		height: 52px;
		margin: 0 auto 0 auto;
		padding-top: 75px;
		background: url('#{$layout-path}/pint-stamp.png') no-repeat center bottom;
		background-size: 100%;
	}
	
	.tasty-beverage {
		z-index: 200;
		position: absolute;
		bottom: 0;
		width: 100%;
		max-height: 495px;
		
		@include border-radius(149px, 20px);
	}
	
	.beverage-head {
		z-index: 400;
		position: absolute;
		top: -1px;
		width: 100%;
		height: 12.5%;
		
		@include border-radius(149px, 20px);
	}
}


// Clear Bottle
	 
.beer-bottle {
	position: relative;
	width: 138px;
	height: 500px;
	margin: 10px auto;
	
	.drink-glass {
		z-index: 600;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		max-width: 138px;
		max-height: 500px;
		
		background: url('#{$layout-path}/glasses/bottle-overlay.png') no-repeat center bottom;
		background-size: 100%;
	}
	
	.glass-overlay {
		display: none;
	}
	
	.tasty-beverage {
		z-index: 200;
		position: absolute;
		bottom: 0;
		width: 100%;
		max-height: 486px;
	}
	
	.beverage-head {
		display: none;
	}
}

.alcopop-bottle {
	.drink-glass {
		background: url('#{$layout-path}/glasses/alcopop-overlay.png') no-repeat center bottom;
	}
}


/* Hiball */
	 
.hiball {
	position: relative;
	width: 228px;
	height: 500px;
	margin: 10px auto;
	
	.drink-glass {
		z-index: 600;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		max-width: 228px;
		max-height: 500px;
		background: url('#{$layout-path}/glasses/hiball-overlay.png') no-repeat center bottom;
		background-size: 100%;
	}
	
	.glass-overlay {
		display: none;
	}
	
	.tasty-beverage {
		z-index: 200;
		position: absolute;
		bottom: 0;
		width: 100%;
		max-height: 485px;
	}
	
	.beverage-head {
		display: none;
	}
}


//
// DRINK TYPES
//
	 
// Lager

.drink-lager {
	.tasty-beverage {
		background: #c48135;
		@include background-image(linear-gradient(left, #c48135, #c69b45));

		left: 1px; // Patch for mis-aligned image
	}
	
	.beverage-head {
		background: #f2f2f2;
	}
}


// Light Lager
.drink-lager-light {
	.tasty-beverage {
		background: #ebbe32;
	}
	
	.bubble {
		border-color: rgba(255,255,255,0.25);
		background: rgba(255,255,255,0.15);
	}
}


// Ale

.drink-ale {
	.tasty-beverage {
		background: #71200b;
		@include background-image(linear-gradient(left, #71200b, #77380b));
	}
	
	.beverage-head {
		height: 5%;
		background: #f3ebe1;
	}
}


// Stout (Guinness)

.drink-stout {
	.tasty-beverage {
		background: #605a4f;
		@include background-image(linear-gradient(top, #605a4f, #231905 33%, #231905 100%));
	}
	
	.beverage-head {
		background: #eee3da;
	}
}


// Gin & Tonic

.drink-gintonic {
	.tasty-beverage {
		background: #e9eff5;
	}
	
	.bubble {
		border-color: rgba(0,0,0,0.15);
		background: rgba(0,0,0,0.05);
	}
}


// Cola

.drink-cola {
	.tasty-beverage {
		background: #180802;
	}
}


// Blue Alcopop
.drink-blue-alcopop {
	.tasty-beverage {
		background: #389eed;
	}
	
	.bubble {
		border-color: rgba(255,255,255,0.25);
		background: rgba(255,255,255,0.15);
	}
}


// Ice & Slice
.drink-gintonic,
.drink-cola {
	.beverage-head {
		z-index: 250;
		display: block;
		position: absolute;
		top: -32px;
		width: 227px;
		height: 163px;
		background: url('#{$layout-path}/ice-lime.png');
		
		@include animate(icefloat, 3s, infinite, ease-in-out);
	}
}

.drink-gintonic .beverage-head {
	opacity: 0.75;
}

.drink-cola .beverage-head {
	opacity: 0.2;
}