/* 
 * Beer O'Clock
 * @jamesrwhite
 * @benhodgson
 *
 * Keyframe Animations
 */


// Include Base

@import "_base";


// Bubbles

@include keyframes(bubblerise) {
	0% {
		opacity: 0;
		bottom: 20px;
	}
	5% {
		opacity: 1;
		bottom: 20px;
	}
	99% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		bottom: 100%;
	}
}


@include keyframes(bubblewobble) {
	0% {
		margin-left: 0;
	}
	50% {
		margin-left: 2px;
	}
}


// Floating Ice

@include keyframes(icefloat) {
	0% {
		margin-top: 0;
	}
	50% {
		margin-top: 3px;
	}
}


// Beer O'clock Alert

@include keyframes(alertflash) {
	0% {
		background: #900;
		color: #fff;
		text-shadow: 0 2px 0 rgba(0, 0, 0, .5);
	}
	20% {
		background: #900;
		color: #fff;
		text-shadow: 0 2px 0 rgba(0, 0, 0, .5);
	}
	45% {
		background: transparent;
		color: #900;
		text-shadow: 0 2px 0 rgba(255, 255, 255, .5);
	}
	55% {
		background: transparent;
		color: #900;
		text-shadow: 0 2px 0 rgba(255, 255, 255, .5);
	}
	80% {
		background: #900;
		color: #fff;
		text-shadow: 0 2px 0 rgba(0, 0, 0, .5);
	}
}